

/*
  MEDIA DESKTOP
*/
@media screen and (orientation: landscape) and (width >= 1281px) {
  html{
    margin: 0;
  }
}


/*
  MEDIA MOBILE
*/
@media (orientation: portrait) or (width > 1280px) {
  html{
    margin: 0;
  }
}


footer{
  position: relative;
  z-index: 1;
  width: 100%;
  min-width: 1200px;

  h4{
    margin-top: 0;
  }

  #contact {
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .form {
        width: 50%;
        min-width: 600px;
      }

      nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        float: right;
        width: 50%;

        ul {
          overflow: hidden;
          list-style-type: none;

          li {
            padding: 0 10px;
            font-size: 24px;
            color: $color1-fg;
          }
        }
      }
    }
  }

  #copyright{
    background-color: black;
    border-top: 1px solid $color1-fg;

    .container{
      display: flex;
      flex-direction: row;
        align-items: center;
      justify-content: space-between;

      p{
        padding: 12px 0;
        font-size: 18px;
        color: $color1-fg;
      }
    }
  }
}

footer::before{
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  min-width: 1200px;
  height: 100%;
  content:"";

  /* https://www.rawpixel.com/image/843189/french-lilies-tile-pattern */
  background-image: url("../images/bg-footer.webp");
  filter: grayscale(100%) brightness(0.2);
}

