 .pre-header {
    position: relative;
    z-index: 1000;
    min-width: 1200px;
    background-color: $color1-bg;
    border-bottom: 1px solid $color1-fg;

    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 40px;
    }

    &__pre-title{
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $color1-fg;
    }

    &__navbar{
      display: flex;
      align-items: center;
      justify-content: center;
      float: right;

      &__item-list{
        height: 100%;
        list-style-type: none;
      }

      &__menu-item{
        display: flex;
        align-items: center;
        justify-content: center;
        float: left;
        height: 100%;
        padding: 0 20px;
        margin-left: -1px; /* para que no se vea border doble */
        font-size: 16px;
        color: $color1-fg;
        border: 1px solid $color1-fg;
        border-bottom: 0;
      }
    }
  }

  .main-header {
    position: sticky;
    top: -1px;
    z-index: 2;
    min-width: 1200px;
    border-bottom: 1px solid $color1-fg;

    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 80px;
    }

    &__main-title-position{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    &__main-title{
      font-size: 36px;
      color: $title;
    }

    &__navbar{
      display: flex;
      align-items: center;
      justify-content: center;

      &__item-list{
        height: 100%;
        overflow: hidden;
        list-style-type: none;

      }

      &__menu-item{
        display: flex;
        align-items: center;
        justify-content: center;
        float: left;
        height: 100%;
        padding: 0 20px;
        font-size: 20px;
        color: $color1-fg;
      }
    }
  }


 /*
   MEDIA DESKTOP
 */
 @media screen and (orientation: landscape) and (width >= 1281px) {
   html{
     margin: 0;
   }
 }


 /*
   MEDIA MOBILE
 */
 @media (orientation: portrait) or (width > 1280px) {
   html{
     margin: 0;
   }
 }
