header{
  a{
    color: $color1-fg;
    text-decoration: none;
    border-bottom: 1px solid green;
  }
  a:hover{
    color: $color1-fg;
    filter: brightness(200%);
  }
}



  #pre-header {
    position: relative;
    background-color: $color1-bg;
    border-bottom: 1px solid $color1-fg;
    z-index: 1000;
    min-width: 1200px;
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 40px;
      span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $color1-fg;
      }
      nav {
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
          list-style-type: none;
          height: 100%;
          li {
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            padding: 0 20px;
            height: 100%;
            border: 1px solid $color1-fg;
            border-bottom: 0;
            color: $color1-fg;
            margin-left: -1px; /* para que no se vea border doble */

          }
        }
      }
    }
  }

  li{

  }

  #main-header {
    min-width: 1200px;
    border-bottom: 1px solid $color1-fg;
    position: sticky;
    top: -1px;
    z-index: 2;
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 80px;
      span{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        h1 {
          font-size: 36px;
          color: $title;
        }
      }
      nav {
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
          list-style-type: none;
          overflow: hidden;
          height: 100%;
          li {
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            padding: 0 20px;
            color: $color1-fg;
            height: 100%;
          }
        }
      }
    }
  }

  #main-header:before{
    transition: background 0.5s ease;
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
  }

  #main-header.is-pinned:before{
    background-color: rgba(0,0,0,0.8) !important;
  }
