

/*
  MEDIA DESKTOP
*/
@media screen and (orientation: landscape) and (width >= 1281px) {
  html{
    margin: 0;
  }
}


/*
  MEDIA MOBILE
*/
@media (orientation: portrait) or (width > 1280px) {
  html{
    margin: 0;
  }
}




  .pre-header {
    position: relative;
    z-index: 1000;
    min-width: 1200px;
    background-color: $color1-bg;
    border-bottom: 1px solid $color1-fg;

    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 40px;

      span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $color1-fg;
      }

      nav {
        display: flex;
        align-items: center;
        justify-content: center;
        float: right;

        ul {
          height: 100%;
          list-style-type: none;

            li {
            display: flex;
            align-items: center;
            justify-content: center;
            float: left;
            height: 100%;
            padding: 0 20px;
            margin-left: -1px; /* para que no se vea border doble */
            font-size: 16px;
            color: $color1-fg;
            border: 1px solid $color1-fg;
            border-bottom: 0;

            span > a{
              margin-left: 10px;
            }
          }
        }
      }
    }
  }

  .main-header {
    position: sticky;
    top: -1px;
    z-index: 2;
    min-width: 1200px;
    border-bottom: 1px solid $color1-fg;

    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 80px;

      span{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        h1 {
          font-size: 36px;
          color: $title;
        }
      }

      nav {
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
          height: 100%;
          overflow: hidden;
          list-style-type: none;

          li {
            display: flex;
            align-items: center;
            justify-content: center;
            float: left;
            height: 100%;
            padding: 0 20px;
            font-size: 20px;
            color: $color1-fg;
          }
        }
      }
    }
  }

  #main-header::before, #main-header::after{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content:"";
    background: linear-gradient(rgba(0 0 0 / 100%), rgba(0 0 0 / 0%));
    transition: background 0.5s ease;
  }

  #main-header.is-pinned::before, #main-header.is-pinned::after{
    background-color: rgba(0 0 0 / 50%) !important;
  }
