<!DOCTYPE html>
<html lang="{{lang_html_code}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="./assets/styles/main.scss"><!-- do not remove this line! -->
    <title>{{header.web_title}}</title>
</head>
<body>
    <!-- PAGE HEADER-->
    <include src="views/layouts/header.html"></include>

    <!-- BODY CONTENT - HOME -->
    <main class="main-content">
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                </div>
                <div class="swiper-slide">
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>

        <div class="container">
            <each loop="item in intro_list">
                <p>{{item.text}}</p>
            </each>
        </div>

        <section class="section" id="lugares_de_interes">
            <div class="container">
                <!-- https://www.viajeroscallejeros.com/lugares-que-ver-en-granada/ -->
                <!-- https://es.wikipedia.org/wiki/Anexo:Barrios_de_Granada -->
                <h2>{{lugares_de_interes}}</h2>
                <each loop="item in lugares_list">
                    <include src="views/modules/home_article.html"></include>
                </each>
            </div>
        </section>

        <section class="section" id="eventos_y_festividades">
            <div class="container">
                <h2>{{eventos_y_festividades}}</h2>
                <each loop="item in eventos_list">
                    <include src="views/modules/home_article.html"></include>
                </each>
            </div>
        </section>

        <section class="section" id="gastronomia">
            <div class="container">
                <h2>{{gastronomia}}</h2>
                <each loop="item in gastronomia_list">
                    <include src="views/modules/home_article.html"></include>
                </each>
            </div>
        </section>
        <section  class="section" id="historia">
            <div class="container">
                <h2>{{historia}}</h2>
                <each loop="item in historia_list">
                    <include src="views/modules/home_article.html"></include>
                </each>
            </div>
        </section>
    </main>

    <!-- PAGE FOOTER -->
    <include src="views/layouts/footer.html"></include>

    <script type="module" src="./assets/scripts/main.js"></script><!-- do not remove this line! -->
    </body>
</html>
