<!DOCTYPE html>
<html lang="{{lang_html_code}}">
<head>
    <include src="views/layouts/head.html"></include>
</head>
<body>
    <!-- PAGE HEADER-->
    <include src="views/layouts/header.html"></include>

    <!-- BODY CONTENT - HOME -->
    <main class="main-home">

        <!-- BANNER -->
        <div class="main-home__banner">
            <h1 class="main-home__banner__title">{{header.web_title}}</h1>
        </div>

        <div class="container">
            <each loop="item in intro_list">
                <p>{{item.text}}</p>
            </each>
        </div>

        <section class="main-home__section" id="lugares_de_interes">
            <div class="main-home__section__container container">
                <!-- https://www.viajeroscallejeros.com/lugares-que-ver-en-granada/ -->
                <!-- https://es.wikipedia.org/wiki/Anexo:Barrios_de_Granada -->
                <h2 class="main-home__section__section-title">{{lugares_de_interes}}</h2>
                <each loop="item in lugares_list">
                    <include src="views/modules/home_article.html"></include>
                </each>
            </div>
        </section>

        <section class="main-home__section" id="eventos_y_festividades">
            <div class="main-home__section__container container">
                <h2 class="main-home__section__section-title">{{eventos_y_festividades}}</h2>
                <each loop="item in eventos_list">
                    <include src="views/modules/home_article.html"></include>
                </each>
            </div>
        </section>

        <section class="main-home__section" id="gastronomia">
            <div class="main-home__section__container container">
                <h2 class="main-home__section__section-title">{{gastronomia}}</h2>
                <each loop="item in gastronomia_list">
                    <include src="views/modules/home_article.html"></include>
                </each>
            </div>
        </section>
        <section  class="main-home__section" id="historia">
            <div class="main-home__section__container container">
                <h2 class="main-home__section__section-title">{{historia}}</h2>
                <each loop="item in historia_list">
                    <include src="views/modules/home_article.html"></include>
                </each>
            </div>
        </section>
    </main>

    <!-- PAGE FOOTER -->
    <include src="views/layouts/footer.html"></include>

    <script type="module" src="./assets/scripts/main.js"></script><!-- do not remove this line! -->
    </body>
</html>
