<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="./assets/styles/main.scss"><!-- do not remove this line! -->
    <title>UOC Boilerplate</title>
</head>
<body>




<include src="views/layouts/header.html"></include>
<main>

    <!-- Slider main container -->
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
            </div>
            <div class="swiper-slide">
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>

    <div class="container">
        <p>
            Descubre Granada, la joya de Andalucía, donde el pasado se encuentra con el presente en un abrazo eterno. En el corazón de esta ciudad milenaria, la Alhambra se erige majestuosamente, un palacio de ensueño donde cada pared cuenta historias de reyes y conquistas. Pero Granada es más que su imponente fortaleza; es un crisol de culturas donde los baños árabes te invitan a sumergirte en el relax más profundo, una experiencia rejuvenecedora que conecta cuerpo y mente con siglos de historia.
        </p><p>
            No hay espectáculo más conmovedor que las procesiones de Semana Santa, un testimonio vivo de la fe y tradición que palpita en cada rincón. Y para el viajero en busca de sabores auténticos, la Olla de San Antón ofrece un festín para los sentidos, un plato tradicional que encapsula el alma de Granada en cada bocado.
        </p><p>
            Ven a Granada, donde cada paso es un descubrimiento, cada vista un poema, y cada momento un recuerdo imborrable.
        </p>
    </div>

    <section id="lugares de interés">
        <div class="container">
            <!-- https://www.viajeroscallejeros.com/lugares-que-ver-en-granada/ -->
            <!-- https://es.wikipedia.org/wiki/Anexo:Barrios_de_Granada -->
            <h2>Lugares de interés</h2>
            <article>
                <h3>La Alhambra</h3>
                <!-- https://www.google.com/search?q=La%20Alhambra&tbm=isch&tbs=il:cl&prmd=ivnbz&rlz=1C1ONGR_esES995ES995&hl=ca&sa=X&ved=0CAAQ1vwEahcKEwiA3e70k4OFAxUAAAAAHQAAAAAQAg&biw=1903&bih=911#imgrc=CM3FPGEHnjUzwM -->
                <img src="./assets/images/home/lugares/la_alhambra.jpg" alt="example" />
                <p>todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo </p>
            </article>
            <article>
                <h3>Paseo de los Tristes / Carrera del Darro</h3>
                <!-- https://www.google.com/search?q=Paseo%20de%20los%20Tristes&tbm=isch&hl=ca&tbs=il:cl&prmd=ivnbz&rlz=1C1ONGR_esES995ES995&sa=X&ved=0CAAQ1vwEahcKEwjwtLeQlIOFAxUAAAAAHQAAAAAQAg&biw=1903&bih=911#imgrc=jFFgcJKOK3dU2M -->
                <img src="./assets/images/home/lugares/paseo_de_los_tristes.jpg" alt="example" />
                <p>todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo </p>
            </article>
            <article>
                <h3>Mirador de San Nicolás</h3>
                <!-- https://www.google.com/search?q=Mirador%20de%20San%20Nicol%C3%A1s&tbm=isch&hl=ca&tbs=il:cl&prmd=ivnbz&rlz=1C1ONGR_esES995ES995&sa=X&ved=0CAAQ1vwEahcKEwjYjKTvlIOFAxUAAAAAHQAAAAAQAg&biw=1903&bih=911#imgrc=YKHcec_eg5fxkM -->
                <img src="./assets/images/home/lugares/mirador_de_san_nicolas.jpg" alt="example" />
                <p>todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo </p>
            </article>
            <article>
                <h3>Baños árabes (Hammam Al Ándalus)</h3>
                <!-- https://www.google.com/search?q=Hammam%20Al%20%C3%81ndalus&tbm=isch&hl=ca&tbs=il:cl&prmd=ivnbz&rlz=1C1ONGR_esES995ES995&sa=X&ved=0CAAQ1vwEahcKEwigvrGolYOFAxUAAAAAHQAAAAAQAg&biw=1903&bih=911#imgrc=39uWRpnIa3-6KM -->
                <img src="./assets/images/home/lugares/banyos_arabes.jpg" alt="example" />
                <p>todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo </p>
            </article>
            <article>
                <h3>Catedral de Granada</h3>
                <!-- https://www.google.com/search?q=Catedral%20de%20Granada&tbm=isch&tbs=il:cl&hl=ca&sa=X&ved=0CAAQ1vwEahcKEwjgz6falYOFAxUAAAAAHQAAAAAQAg&biw=1903&bih=911#imgrc=-vNrm0YedVmjLM -->
                <img src="./assets/images/home/lugares/catedral_de_granada.jpg" alt="example" />
                <p>todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo </p>
            </article>
            <article>
                <h3>Alcaicería</h3>
                <!-- https://www.google.com/search?q=Alcaicer%C3%ADa&tbm=isch&hl=ca&tbs=il:cl&sa=X&ved=0CAAQ1vwEahcKEwjoso2GloOFAxUAAAAAHQAAAAAQAg&biw=1903&bih=911#imgrc=S0yvUQupVXy7yM -->
                <img src="./assets/images/home/lugares/alcaiceria.jpg" alt="example" />
                <p>todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo todo </p>
            </article>
        </div>
    </section>

    <section id="eventos">
        <div class="container">
            <h2>Eventos y festividades</h2>
            <article>
                <h3>Semana Santa en Granada</h3>
                <!-- https://www.google.com/search?q=procesiones+en+Granada&tbm=isch&ved=2ahUKEwiA5peg7YOFAxU-lScCHSDZD0gQ2-cCegQIABAA&oq=procesiones+en+Granada&gs_lp=EgNpbWciFnByb2Nlc2lvbmVzIGVuIEdyYW5hZGEyBxAAGIAEGBgyBxAAGIAEGBgyBxAAGIAEGBhI8kJQgzdY6z9wAHgAkAEAmAFvoAHPCaoBAzMuObgBA8gBAPgBAYoCC2d3cy13aXotaW1nwgIHEAAYgAQYE8ICBhAAGAcYHsICCBAAGAUYBxgewgIIEAAYCBgHGB6IBgE&sclient=img&ei=Ul77ZYD1PL6qnsEPoLK_wAQ&bih=911&biw=1903&hl=ca#imgrc=Ldqjw86lI8JifM -->
                <img src="./assets/images/home/eventos/procesiones_semana_santa.jpg" alt="example" />
                <p>Una de las celebraciones más emblemáticas de la ciudad, donde las calles se llenan de procesiones religiosas y pasos impresionantes.</p>
            </article>
            <article>
                <h3>Festival Internacional de Música y Danza de Granada</h3>
                <!-- https://www.google.com/search?q=Festival%20de%20M%C3%BAsica%20granada&tbm=isch&hl=ca&tbs=il:cl&sa=X&ved=0CAAQ1vwEahcKEwiowduK74OFAxUAAAAAHQAAAAAQAg&biw=1903&bih=894#imgrc=usdFCklbiYw-GM -->
                <img src="./assets/images/home/eventos/festival_int_de_music_danza.jpg" alt="example" />
                <p>Un evento que reúne a talentos nacionales e internacionales en un entorno histórico, celebrando la diversidad de géneros musicales y danza.</p>
            </article>
            <article>
                <h3>Feria del Corpus Christi</h3>
                <!-- https://www.google.com/search?q=Feria%20del%20Corpus%20Christi&tbm=isch&hl=ca&tbs=il:cl&sa=X&ved=0CAAQ1vwEahgKEwjw9aqB8IOFAxUAAAAAHQAAAAAQ5wE&biw=1903&bih=911#imgrc=JfJe6qpi7p0-5M -->
                <img src="./assets/images/home/eventos/feria_corpus_christi.jpg" alt="example" />
                <p>Festival de música que se ha convertido en una cita obligada para los amantes de la música indie y alternativa, ofreciendo actuaciones de bandas y solistas nacionales e internacionales.</p>
            </article>
        </div>
    </section>

    <section id="gastronomia">
        <div class="container">
            <h2>Gastronomía</h2>
            <article>
                <h3>Tapas</h3>
                <!-- https://www.google.com/search?q=tapas%20en%20Granada&tbm=isch&hl=ca&tbs=il:cl&sa=X&ved=0CAAQ1vwEahcKEwjw7tfO8oOFAxUAAAAAHQAAAAAQBw&biw=1903&bih=911#imgrc=27dDlLEuLYEFjM -->
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Granada%2C_La_Fontana%2C_tapas.jpg" alt="example" />
                <p>Son esenciales en la experiencia gastronómica de Granada, donde con la compra de una bebida te sirven una tapa, siendo posible incluso elegir entre varias opciones en algunos bares. Las áreas más conocidas para disfrutar de tapas son la calle Navas, la zona de la Catedral y el Albaicín.</p>
            </article>
            <article>
                <h3>Olla de San Antón</h3>
                <!-- https://www.google.com/search?q=Olla%20de%20San%20Ant%C3%B3n&tbm=isch&hl=ca&tbs=il:cl&sa=X&ved=0CAAQ1vwEahcKEwjowpKr84OFAxUAAAAAHQAAAAAQAg&biw=1903&bih=894#imgrc=VYX7lHktwyAVHM -->
                <img src="https://live.staticflickr.com/187/368843657_9607447f24_b.jpg" alt="example" />
                <p>Un cocido hecho con judías, habas secas, y varios productos cárnicos derivados de la matanza del cerdo, representativo de la festividad de San Antón .
                    Plato Alpujarreño: Un guiso que incluye jamón serrano, lomo, longaniza, morcilla, patatas a lo pobre y huevo frito, típico de la región de la Alpujarra .</p>
            </article>
            <article>
                <h3>Plato Alpujarreño</h3>
                <!-- https://www.google.com/search?q=Plato%20Alpujarre%C3%B1o&tbm=isch&tbs=il:cl&prmd=ivnbz&rlz=1C1ONGR_esES995ES995&hl=ca&sa=X&ved=0CAAQ1vwEahcKEwjI6qGp9IOFAxUAAAAAHQAAAAAQAg&biw=1903&bih=911#imgrc=Gy0lnnSKEZZarM -->
                <img src="https://live.staticflickr.com/3887/14857675313_95d310e70d_b.jpg" alt="example" />
                <p>Un guiso que incluye jamón serrano, lomo, longaniza, morcilla, patatas a lo pobre y huevo frito, típico de la región de la Alpujarra .</p>
            </article>
        </div>
    </section>
    <section id="historia">
        <div class="container">
            <h2>Historía</h2>
            <article>
                <h3>Granada Musulmana (711-1492)</h3>
                <img src="./assets/images/home/historia/historia1.webp" alt="example" />
                <p>Son esenciales en la experiencia gastronómica de Granada, donde con la compra de una bebida te sirven una tapa, siendo posible incluso elegir entre varias opciones en algunos bares. Las áreas más conocidas para disfrutar de tapas son la calle Navas, la zona de la Catedral y el Albaicín.</p>
            </article>
            <article>
                <h3>Granada Renacentista y Barroca (Siglos XVI-XVIII)</h3>
                <img src="./assets/images/home/historia/historia2.webp" alt="example" />
                <p>Son esenciales en la experiencia gastronómica de Granada, donde con la compra de una bebida te sirven una tapa, siendo posible incluso elegir entre varias opciones en algunos bares. Las áreas más conocidas para disfrutar de tapas son la calle Navas, la zona de la Catedral y el Albaicín.</p>
            </article>
            <article>
                <h3>Granada Contemporánea (Siglo XIX-XXI)</h3>
                <img src="./assets/images/home/historia/historia3.webp" alt="example" />
                <p>Son esenciales en la experiencia gastronómica de Granada, donde con la compra de una bebida te sirven una tapa, siendo posible incluso elegir entre varias opciones en algunos bares. Las áreas más conocidas para disfrutar de tapas son la calle Navas, la zona de la Catedral y el Albaicín.</p>
            </article>
        </div>
    </section>
</main>
<include src="views/layouts/footer.html"></include>

<script type="module" src="./assets/scripts/main.js"></script><!-- do not remove this line! -->
</body>
</html>
