.pre-header, .main-header{
  &__navbar__menu-item__link{
    color: $color1-fg;
    text-decoration: none;

    &:hover{
      color: $color1-fg;
      filter: brightness(200%);
    }
  }
}

.main-header{
  &__main-title {
    color: $color1-fg;
    text-decoration: none;

    &:hover {
      color: $color1-fg;
      filter: brightness(200%);
    }
  }

  &::before, &::after{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content:"";
    background: linear-gradient(rgba(0 0 0 / 100%), rgba(0 0 0 / 0%));
    transition: background 0.5s ease;
  }
}



