@use "sass:color";

$font-family-sans-serif: -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
  "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;
$uoc-corporate: #000078;
$uoc-masterbrand: #ffc773;
$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);
$mq-min-width: 420px;
$title: #fff;
$color1-fg: #c7c7c7;
$color1-bg: #111;
