/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */

/**
 * Import variables
 */

@import "variables";

/**
 * Import npm dependencies
 * see: https://v2.parceljs.org/features/module-resolution/
 * see commented examples below
 */

// @import "some-node-module";
// @import "@some-company/some-node-module";
@import "npm:@fortawesome/fontawesome-free/css/all.css";

/**
 * Import layouts
 * It's a best practice to use a different partial for each page
 */

@import "body";
@import "layouts/header";
@import "layouts/content";
@import "layouts/footer";

/**
 * Do NOT include anything else in this file!
 */

main{
  position: relative;
  top: -120px;
  .swiper{
    height: 800px;
    max-height: 90vh;
    .swiper-wrapper{
      width: 100%;
      height: 100vh;
      .swiper-slide{
        width: 100%;
        height: 100vh;
        background-color: red;
        background-size: cover;
        background-position: center;
        background-image: url("../images/home/banner/alhambra.jpg");
      }
    }

    width: 100%;
    min-width: 1200px;
    display: block;
    /*
    background-image: url("../images/home/banner/alhambra.jpg");
    background-size: cover;
    background-position: center;
*/
  }

  .container{
    section{
      padding: 20px 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      h2{
        width: 100%;
        border-left: 4px solid red;
        padding: 20px 10px;
        margin: 0 0 24px 0;
        color: green;
        font-size: 30px;
      }
      article{
        width: 30%;
        display: block;
        img{
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  #eventos, #historia{
    position: relative;
    top: 0;
    left: 0;
  }

  #eventos:before{
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 200vw;
    height: 100%;
    background-color: #a3b79b;
    z-index: -1;
  }

  #historia:before{
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 200vw;
    height: 100%;
    background-color: #ffc9c9;
    z-index: -1;
  }

}
