<footer>
    <div class="contact">
        <div class="container">
            <div class="form">
                <form action="#" method="get">
                    <label for="username">Nombre:</label>
                    <input type="text" id="username" name="username"><br><br>
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email"><br><br>
                    <label for="comments">Comentarios:</label>
                    <input type="text" id="comments" name="comments"><br><br>

                    <input type="submit" value="Submit">
                </form>
            </div>
            <nav>
                <ul>
                    <h1>Información en Wikipedia</h1>
                    <li><a href="https://es.wikipedia.org/wiki/Granada">Granada (capital)</a></li>
                    <li><a href="https://es.wikipedia.org/wiki/Alhambra">La Alhambra</a></li>
                    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Granada">Provincia de Granada</a></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <h1>Sitios oficiales</h1>
                    <li>Ayuntamiento de Granada
                        <i class="fa-solid fa-at"></i>
                        <i class="fab fa-x-twitter"></i>
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-instagram"></i>
                    </li>
                    <li>
                        <a target="_blank" href="https://turismo.granada.org/es">Oficina Municipal de Inf. Turística</a>
                        <i class="fab fa-x-twitter"></i>
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-instagram"></i>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.movilidadgranada.com/">Movilidad Granada</a>
                        <a target="_blank" href="https://www.instagram.com/movilidadgranada/"><i class="fab fa-instagram"></i></a>
                        <a target="_blank" href="http://telegram.me/MovilidadGranada"><i class="fab fa-telegram"></i></a>
                        <a target="_blank" href="https://www.youtube.com/c/MovilidadGranada-GRX"><i class="fab fa-youtube"></i></a>
                        <a target="_blank" href="https://www.facebook.com/movilidadgranada"><i class="fab fa-facebook"></i></a>
                        <a target="_blank" href="http://twitter.com/#!/cgimgranada"><i class="fab fa-x-twitter"></i></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.ugr.es/">Universidad de Granada</a>
                        <a target="_blank" href="https://www.twitter.com/CanalUGR"><i class="fab fa-x-twitter"></i></a>
                        <a target="_blank" href="https://www.facebook.com/universidadgranada/"><i class="fab fa-facebook"></i></a>
                        <a target="_blank" href="https://www.youtube.com/user/UGRmedios"><i class="fab fa-youtube"></i></a>
                        <a target="_blank" href="https://www.instagram.com/canalugr/"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <p>
                Sitio web diseñado por Marc Delgado Bonet <i class="fa-solid fa-at"></i><i class="fa-brands fa-linkedin"></i>
                | Trabajo académico para la Universitat Oberta de Catalunya.
            </p>

            <p><a target="_blank" href="https://creativecommons.org/licenses/by-nc-nd/4.0/"><img decoding="async" loading="lazy" src="https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nc-nd.png" width="118" height="41" align="right"></a></p>
        </div>
    </div>
</footer>
