<footer class="main-footer" id="contacto_y_links">
    <div class="main-footer__contact-block">
        <div class="main-footer__contact-block__container container">
            <nav class="main-footer__contact-block__navlinks">
                    <div>
                        <ul>
                            <li><a class="footer__link" href="">Ayuntamiento de Granada</a>
                                <a class="footer__link" href=""><i class="fa-solid fa-at"></i></a>
                                <a class="footer__link" href=""><i class="fab fa-x-twitter"></i></a>
                                <a class="footer__link" href=""><i class="fab fa-facebook"></i></a>
                                <a class="footer__link" href=""><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a class="footer__link" target="_blank" href="https://turismo.granada.org/es">Oficina Municipal de Inf. Turística</a>
                                <a class="footer__link" href=""><i class="fab fa-x-twitter"></i></a>
                                <a class="footer__link" href=""><i class="fab fa-facebook"></i></a>
                                <a class="footer__link" href=""><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <a class="footer__link" target="_blank" href="http://www.movilidadgranada.com/">Movilidad Granada</a>
                                <a class="footer__link" target="_blank" href="https://www.instagram.com/movilidadgranada/"><i class="fab fa-instagram"></i></a>
                                <a class="footer__link" target="_blank" href="http://telegram.me/MovilidadGranada"><i class="fab fa-telegram"></i></a>
                                <a class="footer__link" target="_blank" href="https://www.youtube.com/c/MovilidadGranada-GRX"><i class="fab fa-youtube"></i></a>
                                <a class="footer__link" target="_blank" href="https://www.facebook.com/movilidadgranada"><i class="fab fa-facebook"></i></a>
                                <a class="footer__link" target="_blank" href="http://twitter.com/#!/cgimgranada"><i class="fab fa-x-twitter"></i></a>
                            </li>
                            <li>
                                <a class="footer__link" target="_blank" href="https://www.ugr.es/">Universidad de Granada</a>
                                <a class="footer__link" target="_blank" href="https://www.twitter.com/CanalUGR"><i class="fab fa-x-twitter"></i></a>
                                <a class="footer__link" target="_blank" href="https://www.facebook.com/universidadgranada/"><i class="fab fa-facebook"></i></a>
                                <a class="footer__link" target="_blank" href="https://www.youtube.com/user/UGRmedios"><i class="fab fa-youtube"></i></a>
                                <a class="footer__link" target="_blank" href="https://www.instagram.com/canalugr/"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
            </nav>
        </div>
    </div>


</footer>

<div class="main-footer__copyright-block" id="copyright">
    <div class="container">
        <p>
            Sitio web diseñado por Marc Delgado Bonet
            <a class="footer__link" target="_blank" href="mailto:madebo@uoc.edu">
                <i class="fa-solid fa-at"></i></a>
            <a class="footer__link" target="_blank" href="https://www.linkedin.com/in/mdelgadob/">
                <i class="fa-brands fa-linkedin"></i></a>
        </p>
        <p>
            Textos y traducciones generados con ChatGPT 4
        </p>
        <p>
            <a class="footer__link" target="_blank" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">
                <img decoding="async" loading="lazy" src="https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nc-nd.png" width="118" height="41" align="right">
            </a>
        </p>
    </div>
</div>
