            <header class="pre-header">
                <div class="container pre-header__container">
                    <span class="pre-header__pre-title">{{header.web_subtitle}}</span>
                    <nav class="pre-header__navbar">
                        <ul class="pre-header__navbar__item-list">
                            <li class="pre-header__navbar__menu-item">
                                <a class="pre-header__navbar__menu-item__link" href="#top" ><i class="fa-solid fa-house"></i>INICIO</a>
                            </li>
                            <li class="pre-header__navbar__menu-item">
                                <a class="pre-header__navbar__menu-item__link" href="#copyright" ><i class="fas fa-comment"></i>Contacto</a>
                            </li >
                            <li class="pre-header__navbar__menu-item">
                                <i class="fas fa-globe"></i>
                                <span><a class="pre-header__navbar__menu-item__link" href="home_es.html">Español</a></span>
                                <span><a class="pre-header__navbar__menu-item__link" href="home_en.html">English</a></span>
                                <span><a class="pre-header__navbar__menu-item__link" href="home_ca.html">Català</a></span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>

            <header class="main-header">
                <div class="container main-header__container">
                <span class="main-header__main-title-position">
                    <h1 class="main-header__main-title"><a href="#" class="main-header__main-title">{{header.web_title}}</a></h1>
                </span>
                    <nav>
                        <ul class="main-header__navbar__item-list">
                            <li class="main-header__navbar__menu-item">
                                <a href="#lugares_de_interes" class="main-header__menu-item"><i class="fa-solid fa-place-of-worship"></i>{{lugares_de_interes}}</a>
                            </li>
                            <li class="main-header__navbar__menu-item">
                                <a href="#eventos_y_festividades" class="main-header__menu-item"><i class="fa-regular fa-calendar-days"></i>{{eventos_y_festividades}}</a>
                            </li>
                            <li class="main-header__navbar__menu-item">
                                <a href="#gastronomia" class="main-header__menu-item"><i class="fa-solid fa-utensils"></i>{{gastronomia}}</a>
                            </li>
                            <li class="main-header__navbar__menu-item">
                                <a href="#historia" class="main-header__menu-item"><i class="fa-solid fa-scroll"></i>{{historia}}</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>

